<%# Sorry, I didn't know what to call this file, but it has buttons, so... %>

<div class="row homepage-strip">
  <div class="small-12 medium-4 medium-offset-2 columns">
    <a href="contacts" class="button large radius inverse expand">
      Contact Us
      &nbsp;&nbsp;
      <%= fa_icon 'arrow-right' %>
    </a>
  </div>
  <div class="small-12 medium-4 end columns">
    <a href="solutions" class="button large radius inverse expand">
      See Our Solutions
      &nbsp;&nbsp;
      <%= fa_icon 'arrow-right' %>
    </a>
  </div>
</div>