<div class="homepage-strip case-studies-strip">
  <div class="row"><div class="small-12 columns">
    <% if @featured_case_studies.size >= 4 %>
      <h2 class="text-center">Case Studies</h2>
      <div class="case-studies-slideshow">
        <% @featured_case_studies.each do |case_study| %>
          <div class="slick-slide">
            <%= render 'case_study', case_study: case_study, image_size: :medium_panel %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div></div>
</div>