<div class="homepage-strip channel-contacts-strip">
    <div class="row">
        <div class="small-12 text-center columns">
            <div class="channel-contacts-banner">
                <%= image_tag("ChannelContacts_bg.jpg", alt: "Channel Contacts banner", lazy: false) %>
                <div class="channel-contacts-banner-content text-center">
                    <a href="contacts/channel" class="large radius button">
                        Channel Contacts
                        <%= fa_icon "arrow-right" %>
                    </a>
                    <h6>Find a HARMAN Pro<br/>
                    Sales Rep in Your Country</h6>
                </div>
            </div>
        </div>
    </div>
</div>