<div class="main-intro">
    <h1 class="text-center">Trusted Brands. Connected Solutions.</h1>
    <p>Welcome to HARMAN Professional Solutions, a global leader in the design and
    manufacture of leading-edge audio, video, control, and lighting systems. Our
    solutions cater to a wide range of markets, including live performance, audio
    production, large venues, cinema, retail, corporate, education, government,
    hospitality, and broadcast. At HARMAN Professional, we’re committed to delivering
    powerful, innovative, and reliable solutions designed for world-class performance.</p>
    
    <ul class="tabs" data-tab>
        <li class="tab-title active">
            <a href="#audio">Audio</a>
        </li>
        <li class="tab-title">
            <a href="#video-control">Video &amp; Control</a>
        </li>
        <li class="tab-title">
            <a href="#lighting">Lighting</a>
        </li>
    </ul>
    <div class="tabs-content">
        <div class="content active" id="audio">
            <p>Leading the global audio market in technological innovation, HARMAN Professional’s
            legendary commercial loudspeaker, amplification, and signal processing systems
            deliver unparalleled sound quality, clarity, and performance.</p>
        </div>
         
        <div class="content" id="video-control">
            <p>As a trailblazer of enterprise video and control solutions, HARMAN Professional
            leads the world in game-changing networked AV, centralized video switching and
            distribution, and intuitive control and user interface solutions.</p>
        </div>
             
        <div class="content" id="lighting">
            <p>In the realm of professional entertainment and architectural lighting, HARMAN
            Professional is world renown for its portfolio of technologically-advanced
            lighting solutions that deliver visually stunning and breathtaking spectacles of
            illumination.</p>
        </div>
    </div>
</div>