<div class="homepage-strip news-strip">
  <div class="row"><div class="small-12 columns">
    <% if @featured_news_articles.size >= 4 %>
      <h2 class="text-center">News</h2>
      <div data-equalizer="news_headline">
        <div class="news-slideshow" data-equalizer="news_image">
          <% @featured_news_articles.each do |news_article| %>
            <div class="slick-slide">
              <%= render 'news_article', news_article: news_article, image_size: :large, headline_length: 150 %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div></div>
</div>

