<% if news_article.narrow_banner.present? %>
  <% image = news_article.narrow_banner.url %>
<% else %>
  <% image = news_article.news_photo.url(:medium_panel) %>
<% end %>

<%= link_to(news_article) do %>
  <div data-equalizer-watch="news_image">
    <%= image_tag image, alt: news_article.title, lazy: false %>
  </div>
  <div class="title-panel">
    <h4 data-equalizer-watch="news_headline">
      <%= truncate news_article.title, length: headline_length, separator: ' ' %>
    </h4>
    <br/>
    Continue Reading
    <%= fa_icon 'long-arrow-alt-right', "aria-hidden": true %>
  </div>
<% end %>


