(function(){
	var $websites_dropdown = $('#distributor_info_distributor_website_contact_info_website_id');

	// clear the website list before we rebuild it
	$websites_dropdown.empty();
	
	// rebuild website dropdown list
	$websites_dropdown.append($("<option></option>"));		
	<% ContactInfo::Website.not_associated_with_this_distributor(@distributor_website.distributor).order(:url).each do |website| %>
		$websites_dropdown.append($("<option value='<%=website.id%>'><%=website.url%></option>"));
	<% end %>
	
	// let chosen know the website dropdown list has been updated
	$websites_dropdown.trigger('chosen:updated');
})();