<% called_from ||= 'contact' %>
<li id="contact_website_<%= association.id %>">
	<% if (called_from == 'contact') %><span class="handle"><%= image_tag("icons/drag_handle.gif") %></span><% end %>
	<%= (called_from == 'contact') ? 
	link_to("#{association.website.url} #{association.website.label}", edit_contact_info_admin_website_path(association.website))
	: link_to("#{association.contact.name}", edit_contact_info_admin_contact_path(association.contact)) + " - #{association.contact.title}" %> 
	<%= link_to(image_tag("icons/trash.gif"), 
			contact_info_admin_contact_website_path(association, called_from: called_from), 
			confirm: "Are you sure? (This won't delete the website --it will only remove the association.)", 
			remote: true,
			method: :delete) %>
</li>