(function(){
	var $contacts_dropdown = $('#distributor_info_distributor_contact_contact_info_contact_id');

	// clear the Contact list before we rebuild it
	$contacts_dropdown.empty();
	
	// rebuild Contact dropdown list
	$contacts_dropdown.append($("<option></option>"));		
	<% ContactInfo::Contact.not_associated_with_this_distributor(@distributor_contact.distributor).each do |contact| %>
		$contacts_dropdown.append($("<option value='<%=contact.id%>'><%=contact.name%> - <%=escape_javascript(contact.title)%></option>"));
	<% end %>
	
	// let chosen know the phone dropdown list has been updated
	$contacts_dropdown.trigger('chosen:updated');
})();