      <div class="row">
        <div class="large-8 large-offset-2 medium-8 medium-offset-2 small-12 columns">
          <div class="slider-container panel">
            <a name="learn"></a>
            <h1 data-magellan-destination="learn"><%= @vertical_market.name %></h1>

            <% if @vertical_market.reference_systems.size > 1 %>
              <div ng-show="systems.length > 1">
                <input slider
                  ng-model="slider_pos"
                  options="{
                    from: 1,
                    to: systems.length,
                    step: 1,
                    smooth: true,
                    scale: system_labels,
                  }"
                />
              </div>
            <% end %>

          </div>
        </div>
      </div>
