<div ng-controller="TseCtrl" ng-cloak
  locale="<%= I18n.locale %>" class="row">
  <div class="medium-4 small-12 large-3 columns">
    <div class="panel">
      <form id="tse_lookup" method="get">
        <label>I need to find someone who can help me with:</label>
        <select name="technology" id="technology"
                ng-model="selectedTechnology"
                ng-options="technology.name for technology in technologies">
        </select>
        <div ng-show="selectedTechnology">
          <label>Type of expertise needed:</label>
          <select name="nav1" id="nav1"
                  ng-model="selectedParentCategory"
                  ng-options="parent.name for parent in parent_categories">
          </select>
        </div>
        <div ng-show="selectedParentCategory">
          <label>Client Location:</label>
          <select name="region" id="region"
                  ng-model="selectedRegion"
                  ng-options="region.name for region in regions">
          </select>
        </div>
      </form>
      <div class="show-for-small">Results appear below...</div>
    </div>
    <a ng-click="startOver()"
       ng-show="selectedTechnology"
       class="tiny secondary radius button">Start Over</a>
  </div>

  <div class="medium-8 large-9 small-12 columns">
    <div ng-show="contacts.length && selectedTechnology && selectedParentCategory">
      <table id="results" style="width: 100%">
        <thead class="hide-for-small">
          <tr>
            <td width="30%">Name/Title</td>
            <td width="30%">Contact Info</td>
            <td width="40%">Expertise</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts | filter:includeContact ">
            <td valign="top">
              <h5>{{ contact.name }}</h5>
              {{ contact.job_title }}
              <div class="hint"><em>Expertise:</em> {{ contact.categories.join(', ') }}</div>
              <div class="show-for-small">
                <br/>
                <div>
                  <p><strong>Contact Info:</strong><br/>
                    <span ng-show="contact.phone">
                      <a href="tel:{{ contact.phone }}"><i class="fas fa-phone"></i> {{ contact.phone }}</a><br/>
                    </span>
                    <span ng-show="contact.email">
                      <a href="mailto:{{ contact.email }}"><i class="fas fa-envelope"></i> {{ contact.email }}</a><br/>
                    </span>
                    <span ng-show="contact.address">{{ contact.address }}<br/></span>
                  </p>
                </div>

                <div ng-show="contact.technologies.length">
                  <p>
                    <strong>Products:</strong><br/>
                    {{ contact.technologies.join(', ') }}
                  </p>
                </div>
                <div ng-show="contact.regions.length">
                  <p>
                    <strong>Regions Supported:</strong><br/>
                    {{ contact.regions.join(', ') }}
                  </p>
                </div>
                <div ng-show="contact.domains.length">
                  <p>
                    <strong>Vert&nbsp;Mkts:</strong><br/>
                    {{ contact.domains.join(', ') }}
                  </p>
                </div>
              </div>
            </td>
            <td valign="top" class="hide-for-small">
              <div ng-show="contact.phone">
                <a href="tel:{{ contact.phone }}"><i class="fas fa-phone"></i> {{ contact.phone }}</a>
              </div>
              <div ng-show="contact.email">
                <a href="mailto:{{ contact.email }}"><i class="fas fa-envelope"></i> {{ contact.email }}</a>
              </div>
              <div ng-show="contact.address">{{ contact.address }}</div>
            </td>
            <td valign="top" class="hide-for-small">
              <div class="row" ng-show="contact.technologies.length">
                <div class="medium-5 large-3 columns"><strong>Products:</strong></div>
                <div class="medium-7 large-9 columns">{{ contact.technologies.join(', ') }}</div>
              </div>
              <div class="row" ng-show="contact.regions.length">
                <div class="medium-5 large-3 columns"><strong>Regions Supported:</strong></div>
                <div class="medium-7 large-9 columns">{{ contact.regions.join(', ') }}</div>
              </div>
              <div class="row" ng-show="contact.domains.length">
                <div class="medium-5 large-3 columns"><strong>Vert&nbsp;Mkts:</strong></div>
                <div class="medium-7 large-9 columns">{{ contact.domains.join(', ') }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
