<div class="case-study-panel case-study">
  <% if case_study.banner.present? || ENV['show_placeholders'] == "true" %>
    <%= link_to(case_study) do %>
      <div class="img_container stretchy-image-container" data-background="<%= case_study.banner.url(:large) %>"></div>
    <% end %>
  <% end %>
  <h5>
    <%= link_to case_study.headline, case_study  %>
  </h5>
  <div class="cs-descr"><%= raw case_study.description %></div>
  <%#= link_to t('more'), [case_study.vertical_market, case_study], class: "tiny radius button" %>
</div>
