<% if Rails.env.production? && !request.host.to_s.match(/10\.10/) %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPSCH1SGD0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DPSCH1SGD0');
  </script>

  <script>
  $(document).ready(function() {
    $("a").click(function(event) {
      //event.preventDefault(); // Prevent default action

      var linkUrl = $(this).attr("href") || "";
      var linkText = $(this).text().trim() || "";
      if (linkText.length == 0) { linkText = $(this).find('img').attr('src') || ""; }
      var linkClasses = $(this).attr("class") || "";
      var pageLocation = window.location.href || "";
      var pageReferrer = document.referrer || "";

      //console.group("Variable Output");
      //console.log("Link URL:", linkUrl);
      //console.log("Link Text:", linkText);
      //console.log("Link Classes:", linkClasses);
      //console.log("Page Location:", pageLocation);
      //console.log("Page Referrer:", pageReferrer);
      //console.groupEnd();

      // Send event to GA4
      gtag('event', 'click', {'link_url': linkUrl, 'link_text': linkText, 'link_classes': linkClasses, 'page_location': pageLocation, 'page_referrer': pageReferrer});

    }); // click(function(event)
  });  // $(document).ready(function()
  </script>

  <!-- Google Code for Remarketing Tag -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 926230195;
    var google_custom_params = window.google_tag_params; var
    google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/926230195/?guid=ON&amp;script=0"/>
    </div>
  </noscript>

	<!-- Start of HubSpot Embed Code -->
		<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/23903073.js"></script>
	<!-- End of HubSpot Embed Code -->

<% else %>

  <!-- google tracker appears here in production -->
  <!-- google remarketing code appears here in production -->

<% end %>
