<% if Rails.env.production? && !request.host.to_s.match(/10\.10/) %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPSCH1SGD0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DPSCH1SGD0');
  </script>

  <script>
  $(document).ready(function() {
    $("a").click(function(event) {
      //event.preventDefault(); // Prevent default action

      var $this = $(this);
      var linkUrl = $this.attr("href") || "";
      var linkText = $this.text().trim() || "";
      var linkImgSrc = $this.find('img').attr('src') || "";
      // we have to get the linkImgSrc value under 100 characters because of limitations GA4 has on custom dimension value character counts, we can rehydrate on the reporting side
      if (linkImgSrc.length) { linkImgSrc = linkImgSrc.replace("https://pro.harman.com/", "").replace("//pro.harman.com/", "").replace("https://d3nw26meo6dlp6.cloudfront.net/", ""); }
      var linkImgAlt = $this.find('img').attr('alt') || "";
      var linkClasses = $this.attr("class") || "";
      var pageLocation = window.location.href || "";
      var pageReferrer = document.referrer || "";

      // Send event to GA4
      gtag('event', 'click', {'link_url': linkUrl, 'link_text': linkText, 'link_img_src': linkImgSrc, 'link_img_alt': linkImgAlt, 'link_classes': linkClasses, 'page_location': pageLocation, 'page_referrer': pageReferrer});

    }); // $("a").click(function(event)
  });  // $(document).ready(function()
  </script>

  <!-- Google Code for Remarketing Tag -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 926230195;
    var google_custom_params = window.google_tag_params; var
    google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/926230195/?guid=ON&amp;script=0"/>
    </div>
  </noscript>

	<!-- Start of HubSpot Embed Code -->
		<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/23903073.js"></script>
	<!-- End of HubSpot Embed Code -->

<% else %>

  <!-- google tracker appears here in production -->
  <!-- google remarketing code appears here in production -->

<% end %>
