(function(){
	var $locations_dropdown = $('#location_info_location_website_location_info_location_id');

	// clear the website list before we rebuild it
	$locations_dropdown.empty();
	
	// rebuild website dropdown list
	$locations_dropdown.append($("<option></option>"));		
	<% LocationInfo::Location.not_associated_with_this_website(@location_website.website).each do |location| %>
		$locations_dropdown.append($("<option value='<%=location.id%>'><%=location.name%></option>"));
	<% end %>
	
	// let chosen know the website dropdown list has been updated
	$locations_dropdown.trigger('chosen:updated');
})();