<div class="row">
  <div class="small-8 columns">
    <h1>Regions</h1>
  </div>

  <div class="small-4 columns text-right">
    <%= link_to "new region", new_tse_admin_tse_region_path, class: "small success radius button" %>
  </div>
</div>

<ul>
  <% @tse_regions.where(parent_id: nil).order(:name).each do |region| %>
    <li>
      <%= link_to region.name, edit_tse_admin_tse_region_path(region) %>
      <ul>
        <% region.children.each do |child| %>
          <li><%= link_to child.name, edit_tse_admin_tse_region_path(child) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
