<% called_from ||= 'territory' %>
<li id="territory_supported_country_<%= association.id %>">

	<% if (called_from == 'territory') %> 
		<%= link_to("#{association.country.name}", edit_location_info_admin_country_path(association.country)) %>
		<%#= association.country.name %>
	<%else%>
		<%=link_to("#{association.territory.name}", edit_contact_info_admin_territory_path(association.territory))%>
	<%end%>

	<%= link_to(image_tag("icons/trash.gif"), 
			contact_info_admin_territory_supported_country_path(association, called_from: called_from), 
			confirm: "Are you sure? (This won't delete the supported_country --it will only remove the association.)", 
			remote: true,
			method: :delete) %>
</li>