<h1 class="text-center">EMEA Portal Admin</h1>

<div class="row">
  <div class="medium-4 medium-offset-4 columns">
    <div class="callout panel">
      <ul>
        <li><%= link_to "Pages", emea_admin_emea_pages_path %></li>
        <li><%= link_to "Channel Managers", emea_admin_channel_country_managers_path %></li>
        <li><%= link_to "Users", emea_admin_users_path %></li>
        <li><%= link_to "Employee Contacts", emea_admin_emea_employee_contacts_path %></li>
      </ul>
    </div>
  </div>
</div>
