        <div class="callout panel">
          <h5><%=t "case_study_page.is_your_project_similar" %></h5>
  
          <br/>
          <%= link_to new_lead_path, class: "medium radius button" do %>
            <%=t "case_study_page.connect_with_harman" %>
          <% end %>
        </div> 