(function(){
	var $emails_dropdown = $('#distributor_info_distributor_email_contact_info_email_id');

	// clear the email list before we rebuild it
	$emails_dropdown.empty();
	
	// rebuild email dropdown list
	$emails_dropdown.append($("<option></option>"));		
	<% ContactInfo::Email.not_associated_with_this_distributor(@distributor_email.distributor).each do |email| %>
		$emails_dropdown.append($("<option value='<%=email.id%>'><%=email.email%></option>"));
	<% end %>
	
	// let chosen know the email dropdown list has been updated
	$emails_dropdown.trigger('chosen:updated');
})();