<h1>New EMEA Employee Contact</h1>
<p><%= link_to "<< back to contact list", emea_admin_emea_employee_contacts_path %></p>

<div class="row">
  <div class="medium-8 columns">
    <%= render 'form' %>
  </div>
</div>


