// EMEA portal styles

.emea-top-bar {
  &.top-bar {
    @media only screen and (min-width: 730px) {
      padding-left: 15px;
    }
    a {
      font-size: 13px !important;
      &:after {
        border-color: white transparent transparent transparent;
      }
    }
  }
}
