/* Contributions from Kent */

.solutionButton {
  margin: 3px !important;
  width: 141px;
  font-size: 14px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  vertical-align: middle;
  height: 59px;
}

.line1 {
  padding-top: 20px !important;
}

.line3 {
  padding-top: 4px !important;
}

.guides .medium-4 {
  padding-left: 0;
}

