(function(){
	var $exclude_brands_countries_dropdown = $('#location_info_location_exclude_brand_country_brand_country');

	// clear the brand/country exclusion list before we rebuild it
	$exclude_brands_countries_dropdown.empty();
	
	// rebuild brand/country exclusion dropdown list
	$exclude_brands_countries_dropdown.append($("<option></option>"));		
	<% LocationInfo::Location.brands_countries_not_already_excluded(@excluded_brand_country.location).each do |brand_country| %>
		$exclude_brands_countries_dropdown.append($("<option value='<%=brand_country[:id]%>'><%=brand_country[:name]%></option>"));
	<% end %>
	
	// let chosen know the dropdown list has been updated
	$exclude_brands_countries_dropdown.trigger('chosen:updated');
})();