<p>A lead was received through the pro.harman.com website.
Please follow up accordingly.</p>

<% if @lead.project_description.present? %>
  <h5>Project Description</h5>
  <%= @lead.project_description %>
<% end %>

<p>Country: <%= @lead.country_name %></p>

<p>Due to regulations, the lead data is not sent via email.
Click the link below to view the lead:</p>

<p><a href="https://pro.harman.com/leads/<%= @lead.recipient_id %>">View lead details</a></p>

<p>You'll need a password to view the link above. If you have not received the
password, then please contact <%= SiteSetting.value('leadgen-recipients') %>.</p>
