<div class="training-leftnav panel">
<h4>Login/Signup</h4>
<ul>
    <li><%= link_to "Harman Pro University", haveEncodedUserData ? "/training/sso" : SiteSetting.value("harmanpro_university_url"), target: "_blank" %></li>
    <% all_brands.each do |brand| %>
      <% if brand.training_url.present? %>
        <li>
          <% if haveEncodedUserData && brand.training_url.include?("traininglogin") %>
            <%= link_to t('training_page.brand_training', brand: brand.name), "/training/sso", target: "_blank" %>
          <%else%>
            <%= link_to t('training_page.brand_training', brand: brand.name), brand.training_url, target: "_blank" %>
          <% end %>
        </li>
      <% end %>
    <% end %>
</ul>

<h4>Courses</h4>
<ul>
  <li><a href="https://training.harmanpro.com/files/Global%20Resources/HPro_U_17_18_Course_Catalog.pdf" target="_blank">Course Catalog</a></li>
</ul>

<h4>Certification</h4>
<ul>
    <li><a href="/training/path-to-certification">Path to Certification</a></li>
    <li><a href="/training/certification-requirements">Certification Requirements</a></li>
    <li><a href="/training/certification-renewal">Certification Renewal</a></li>
</ul>

<h4>Classroom</h4>
<ul>
    <!--<li><a href="/training/courses">Classroom Courses</a></li>-->
    <li><a href="/training/calendar">Classroom Schedules</a></li>
</ul>

</div><!-- <div class="panel"> -->
<div class="callout panel">
  <h3>Need Help?</h3>
  <p>Have questions or need assistance? Email <a href="mailto:traininghelp@harman.com">TrainingHelp@harman.com</a>.</p>
</div><!-- <div class="callout panel">  -->
<%#=training_content.slug%>