<div class="training-leftnav panel">
<h4>Login/Signup</h4>
<ul>
    <li><%= link_to "Harman Pro University", SiteSetting.value("harmanpro_university_url"), target: "_blank" %></li>
    <% all_brands.each do |brand| %>
      <% if brand.training_url.present? %>
        <li>
          <%= link_to t('training_page.brand_training', brand: brand.name), brand.training_url, target: "_blank" %>
        </li>
      <% end %>
    <% end %>
</ul>

<h4>Certification</h4>
<ul>
    <li><a href="/training/path-to-certification">Path to Certification</a></li>
    <li><a href="/training/certification-requirements">Certification Requirements</a></li>
    <li><a href="/training/certification-renewal">Certification Renewal</a></li>
</ul>

<h4>Classroom</h4>
<ul>
    <li><a href="/training/courses">Classroom Courses</a></li>
</ul>
</div><!-- <div class="panel"> -->
<%#=training_content.slug%>