<h6 class="subheader"><%= t('connect_with_us') %></h6>

<form method="post" action="https://www.pages08.net/harmaninternationalindustries/HProFooterGlobalOptIn/Hpro-Footer-Global-OptIn-Step1" pageId="47046" siteId="12563" parentPageId="47044">
  <div class="row collapse">
    <div class="small-8 columns">
      <input type="text" name="Email" id="control_EMAIL" label="Subscribe for Email Updates">
    </div>
    <div class="small-3 columns end">
      <input type="submit" class="button postfix" value="Submit">
    </div>
  </div>
  <div id="errorMessageContainerId" class="formErrorMessages" style="display: none;"></div>
  <input type="hidden" name="COLUMN73" id="control_COLUMN73" value="Yes">
  <input type="hidden" name="COLUMN94" id="control_COLUMN94" value="Yes">
  <input type="hidden" name="formSourceName" value="StandardForm">
</form>
