<h6 class="subheader"><%= t('connect_with_us') %></h6>

<div class="row">
  <div class="small-11 columns">
  <%= link_to "/lp/sign-up", class: "small radius button expand" do %>
    <%= fa_icon 'envelope' %>
    Newsletter Signup
  <% end %>
  </div>
</div>
